.svg .svgPath {
  fill: transparent;
  stroke: #fc4274;
  stroke-width: 0.7;
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  animation: draw 4s ease-out 1.8s 1 forwards;
}
.svg {
  transition: scale 0.3s ease-in-out;
}

@keyframes draw {
  0% {
    fill: transparent;
    stroke-dashoffset: 210;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #fc4274;
    stroke-dashoffset: 0;
  }
}
