#home {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

#home::before {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  opacity: 0.1;
}

video {
  position: absolute; /* Position the video absolutely within the container */
  top: 50%; /* Center the video vertically */
  left: 50%; /* Center the video horizontally */
  min-width: 100%; /* Ensure the video covers the full width */
  min-height: 100%; /* Ensure the video covers the full height */
  width: auto; /* Allow the width to adjust automatically */
  height: auto; /* Allow the height to adjust automatically */
  transform: translate(-50%, -50%); /* Center the video */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  z-index: -2;
}

.desktop {
  overflow: hidden;
  .desktop-nav {
    color: var(--white);
    font-weight: 500;
    font-family: var(--montserrat);
    .desktop-nav-links {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 3.2vw;
      .desktop-nav-link {
        position: relative;
        transition: color 0.15s ease-out;
        color: #ff0403;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #fff;
          z-index: -1;
          width: 0%;
          padding-block: 1%;
          transition: width 0.2s ease-out;
        }

        &:hover:not(.product) {
          &::before {
            width: 100%;
          }
        }
        &.product {
          background-image: linear-gradient(45deg, snow, rgb(255, 4, 3));
          background-size: 200% 200%;
          background-position: 0% 0%;
          color: white;
          transition: background-position 0.3s ease-in-out, color 0.3s ease-out;
          &:hover {
            background-position: 100% 0%;
            color: white;
          }
          &:active {
            background-position: 0% 100%;
            color: #ff002b;
          }
        }
      }

      .desktop-nav-link:active {
        color: #dedede;
      }
    }
  }
}

.options div {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  margin-top: 1rem;
  width: fit-content;
  height: auto;
  padding: 0.9rem;
  border-radius: 9999px;
  &:nth-child(2) {
    background-image: linear-gradient(
      -45deg,
      rgb(255, 147, 165),
      rgb(255, 3, 4)
    );
  }
}

.title {
  color: snow;
  font-family: var(--montaga);
  font-weight: 400;
  .word.Quality {
    font-family: var(--amita);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      snow,
      rgb(255, 3, 4),
      gold,
      snow
    );
    background-size: 150% 150%;
    background-position: 100% 100%;
    background-clip: text;
    background-position: 100% 100%;
    animation: gradientAnimation 12s linear infinite;
  }
  .product {
    font-family: var(--montserrat) !important;
    background-image: linear-gradient(
      -45deg,
      rgb(255, 111, 135),
      rgb(255, 3, 4)
    );
    background-size: 200% 200%;
    background-position: 0% 0%;
    margin-inline: auto;
    margin-top: 1rem;
    color: white;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-out;
    &:hover {
      background-position: 100% 100%;
      color: white;
    }
    &:active {
      background-position: 0% 100%;
      color: #ffd3da;
    }
  }
}

//background position animation keyframes
@keyframes gradientAnimation {
  to {
    background-position: 400%;
  }
}

//media queries
