@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");
// Define CSS variables
:root {
  --secondary-colour: #fca311ff;
  --white: #fffaff;
  --primary-colour-1: rgb(0, 234, 255);
  --primary-colour: #ff0403;
  --gold: #ffd218;
  --mist: #f9fafb;
  --montserrat: "Montserrat", sans-serif;
  --amita: "Amita", serif;
  --montaga: "Montaga", serif;
}

html,
body {
  margin: 0;
  font-size: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.instagram:hover div,
.instagram:hover p,
.whatsapp:hover div,
.whatsapp:hover p {
  animation: roll 0.7s ease-in-out 1;
}

.loading {
  transform: translateY(0%);
  opacity: 1;
  animation: leave 0.5s ease-out 2.5s;
}

@keyframes leave {
  to {
    transform: translateY(-200%);
    opacity: 0;
  }
}

@keyframes roll {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  35% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(140%);
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  52% {
    opacity: 0;
    transform: translateY(-140%);
  }
  100% {
    transform: translateY(0%);
  }
}
