@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//variables
//colour
$secondary-colour: #fca311ff;
$white: #faf3f0ff;
$primary-colour-1: #0fa3b1ff;
$primary-colour: #ff3333ff;
$black: #03191eff;
$royal-blue:#4169E1;
$gold:#FFD218;
$mist:#F9FAFB;
//sizes
$size-base: 1.5rem;
$size-lg: 2rem;
$size-sm: 1rem;
$size-xl: 3rem;
$size-xxl: 4rem;

//fonts
$roboto: "Roboto", sans-serif;
$suse: "SUSE", sans-serif;
$cursive:"Calligraffitti", cursive;
$montserrat:"Montserrat", sans-serif;
$lato: "Lato", sans-serif;

html,body{
    margin: 0;
}

.h1{
    font-size: 2.125rem;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

