@import '../../app/globals.scss';

#contact{
    div{
        background-color: red;
        padding: 2%;
        overflow: hidden;
    }

    div form{
        color: white;

    }

    input:not([type = 'submit']){
        background-color: transparent;
        border-bottom: solid 2px white ;
        display: block;
        width: 50%;
        outline: none;
        font-size: clamp(1rem, 0.829rem + 0.857vw, 1.6rem);
        margin-top: 10px;
        transition: width .25s ease-in-out,
        border-bottom .25s ease-in-out;
    }

    input[type='submit']{
        padding: 10px;
        background-color: $secondary-colour; 
        color: white;
        border: none; 
        border-radius: 5px; 
        cursor: pointer;
        font-size: 1.4rem;
        transition: background-color .12s ease-in-out,
        color .12s ease-in-out,
        scale .12s ease-in-out;
        &:hover{
            background-color: $gold;
            color: $primary-colour;
        }
        &:active{
            background-color: orangered;
            color: white;
            transform: scale(.99);
        }
    }

    label{
        font-size: clamp(1rem, 0.857rem + 0.714vw, 1.4rem);
    }



    textarea{
        display: block;
        background-color: $primary-colour;
        outline: none;
        border-bottom: solid 2px white ;
        width: 50%;
        resize: none;
        margin-top: 10px;
        padding: 5px;
        transition: height .25s ease-in-out,
        width .25s ease-in-out,
        border-bottom .25s ease-in-out;
        
    }
    textarea:not(:placeholder-shown){
        width: 70%;
    }
    textarea:focus{
        width:70%;
    }

    input:not([type='submit']):hover ,textarea:hover{
        border-bottom: solid 2px rgb(220, 220, 220) ;
    }

    input:focus{
        width:70%;
    }

    input:not(:placeholder-shown){
        width: 70%;
    }
    
    input::placeholder,textarea::placeholder{
        color: $mist;
        opacity: .556;
        font-size: small;
    }

    .connect{
        background:linear-gradient(35deg,$secondary-colour,$gold);
        font-weight: 600;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: clamp(2rem, 1.143rem + 4.286vw, 5rem);
    }

    div address{
        color: white;
        font-size:clamp(1.1rem, 0.957rem + 0.714vw, 1.6rem);
        text-align: left;
        width: 50%;
    }

    .foot{
        grid-template-columns: repeat(auto-fill,minmax(140%,1fr))
    }
}
