@import "../../app/globals.scss";

#home{
    position: relative;
    background-color:rgba(0,0,0,0.5);
overflow: hidden;
   width: 100%;
   height: 100vh;
}

    video{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover; 
        z-index: -1; 
    }


.logo{
    color: $white;
}


.mobile-nav-button{
    background-color: snow;
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 7px;
    z-index: 40;
    margin-block: auto;
    margin-right: 3%;
    transition: background-color .3s ease-in-out;
}
.active.mobile-nav-button{
    background-color: $primary-colour;
}

.hid{
    display: none;
}

.mobile{
    .mobile-nav{
        background-color: rgba(255, 250, 250, 1);
        border-radius: 9999px;
        backdrop-filter: blur(0px);
        left: 0;
        top: 0;
        inset: 0;
        position: absolute;
        width: 50vw;
        height: 50vw;
        transform: translateX(200%) translateY(-100%);
        z-index: 30;
        overflow: hidden;
        transition-property:border-radius transform background-color;
        transition-duration: .3s;
        transition-timing-function: ease-out;
    }
    .nav-links{
        opacity: 0;
        display: none;
    }
}

.mobile.active{
    overflow: hidden;
    .mobile-nav{
        background-color: rgba(255, 250, 250, 0.5);
        border-radius: 0px;
        backdrop-filter: blur(20px);
        left: 0;
        top: 0;
        inset: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
        transform: translateX(0%) translateY(0%);
        z-index: 30;
    }

    .nav-links{
        opacity: 1;
        display: block;
        margin-top: 100px;
        padding: 3%;
        border-radius: 0px;
        .nav-link{
            transform: scale(.85);
            margin-bottom: 40px;
            align-items: center;
            padding: 20px;
            font-weight: 700;
            font-size: 3rem;
            border-radius: 10px;
            background-color: transparent;
            margin-right: 10px;
            box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            color: snow;
            &:active{
                box-shadow: 0px 0px 0px;
            }
        }
    }
}

.desktop{
    .desktop-nav{
        background-color: white;
        border-radius: 10px;
        width:fit-content;
        height: fit-content;
        padding: 4%;
        margin-right: 5.5rem;
        .desktop-nav-links{
            display: flex;
            flex-direction: row;
           gap: 3rem;
           text-align: center;
        }
        .desktop-nav-link{
            .icon{
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.title{
    font-family: $montserrat;
    font-weight: 700;   
    display: flex;
    height: 100vh;
    transform: translateY(-16%);
    place-content: center;
    flex-direction: column;
    h1{
        font-size: clamp(4rem, -3rem + 35vw, 7.5rem);
    }
    h2{
        font-size: clamp(2rem, 0rem + 10vw, 3rem);
    }
    p{
        font-size: clamp(1rem, -0.4rem + 7vw, 1.7rem);
        font-weight: 500 !important;
    }
}


.catalogue-button{

    background-image: linear-gradient(45deg,rgba(255, 51, 51, 0.385) 23%,rgba(255, 209, 26, 0.317));
    backdrop-filter: blur(6px);
    margin-inline: auto;
    font-weight: 500 !important;
    margin-top: 4rem;
    width: fit-content;
    font-size: clamp(1.3rem, -0.1rem + 7vw, 2rem);
    border-radius: 20px;
    padding: 5%;
    color:$white;
    position: relative;
    overflow: hidden;

    &:active{
       color: $primary-colour;
    }
    button{
    place-content: center;
    margin-inline: auto;
    z-index: 1;
    }
}

//media queries

@media(max-width:720px){ //phones tablet navigation
    .desktop{
        display:none
    }

    .mobile-nav-button{
        display: inline;
    }
    .mobile{
        display: block;
    }
}



