.card {
  margin-top: 6rem;
  padding-top: 10%;
  padding: 8%;
  .text {
    margin-bottom: 2rem;
    .head {
      color: #c2b280;
      font-family: var(--montaga);
      font-weight: 600;
    }
  }
}
